Source: lattice-diamond-3.13
Maintainer: Alexander Coffin <alex@cyberialabs.net>
Section: misc
Priority: optional
Homepage: https://www.latticesemi.com/latticediamond
Standards-Version: 3.9.2

Package: lattice-diamond-3.13
Depends: bash, ${shlibs:Depends}, ${perl:Depends}
Architecture: amd64
Description: Lattice Diamond 3.13.0
  A packaged version of
  https://www.latticesemi.com/view_document?document_id=54010 .
  .
  The packaging is done on a best effort, and is probably missing dependencies.
